- hosts: localhost
  connection: local
  become: true

  vars:
    service_name: http-demo
    service_version: v1.0.3
    service_dir: "/home/ubuntu/{{ service_name }}"
    artifactUrl: https://maven.pkg.github.com/rmortale/camel-http-demo/ch/dulce/http-demo/{{ service_version }}/http-demo-{{ service_version }}-runner.jar

  pre_tasks:
    - name: ensure apt cache is up to date
      apt:
        update_cache: true
      changed_when: false

  tasks:
    - include_tasks: tasks/packages.yml
    - include_tasks: tasks/cron.yml
    - include_tasks: tasks/microservice.yml
  
