- hosts: localhost
  connection: local
  become: true

  pre_tasks:
    - name: ensure apt cache is up to date
      apt:
        update_cache: true
      changed_when: false

  tasks:
    - include_tasks: tasks/packages.yml
    - include_tasks: tasks/cron.yml
  
