- name: Create microservices directory
  ansible.builtin.file:
    path: "{{ service_dir }}"
    state: directory
    group: ubuntu
    owner: ubuntu

- name: download artifact
  ansible.builtin.get_url:
    url: "{{ artifactUrl }}"
    dest: "{{ service_dir }}/{{ service_name }}-{{ service_version }}.jar"
    username: "{{ maven_user }}"
    password: "{{ maven_pw }}"
    group: ubuntu
    owner: ubuntu

- name: create environment file
  ansible.builtin.template:
    src: env.template
    dest: "{{ service_dir }}/.env"
    group: ubuntu
    owner: ubuntu

- name: create systemd file
  ansible.builtin.template:
    src: quarkus.service
    dest: /etc/systemd/system/{{ service_name }}.service
  notify: Restart service

- name: ensure service is running
  ansible.builtin.service:
    state: started
    enabled: true
    name: "{{ service_name }}"


