- name: Create microservices directory
  ansible.builtin.file:
    path: "{{ service_dir }}"
    state: directory
    group: ubuntu
    owner: ubuntu

- name: download artifact
  ansible.builtin.get_url:
    url: "{{ artifactUrl }}"
    dest: "{{ service_dir }}/{{ service_name }}-{{ service_version }}.jar"
    username: "{{ maven_user }}"
    password: "{{ maven_pw }}"
    group: ubuntu
    owner: ubuntu

