- name: Create microservices directory
  ansible.builtin.file:
    path: "{{ service_dir }}"
    state: directory

- name: download artifact
  ansible.builtin.get_url:
    url: "{{ artifactUrl }}"
    dest: "{{ service_dir }}/{{ service_name }}.jar"
    username: "{{ maven_user }}"
    password: "{{ maven_pw }}"
    
