name: Publish package to GitHub Packages
on:
  push:
    paths-ignore:
      - 'playbook/**'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Set version and deploy
        run: |
          if [ $GITHUB_REF_NAME == 'main' ]; then
            mvn --ntp -B versions:set -DnewVersion=${GITHUB_SHA::7} -DgenerateBackupPoms=false
          fi
          mvn --ntp -B deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
